/*General*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    font-family: "poppins", sans-serif;
    background-color: #eff7fc;


}



p {
    color: rgb(85, 85, 85);
}

/*TRANSITION*/

a,
.btn {
    transition: all 300ms ease;
}

/*desktop nav*/

nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: aliceblue;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);


}


.logo {
    font-size: 2rem;
    font-weight: 600;
    font-family: "Briem Hand";
    font-optical-sizing: auto;


}

.logo:hover {
    cursor: default;
}


/* HAMBURGER MENU*/

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}


.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}


section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;


}

.slide-left {
    animation: slideleft 5s linear forwards;

}

@keyframes slideleft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }



}



.section-container {
    display: flex;
}

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;

}

.section_pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;


}

.pic {
    border-radius: 50%;

}

.section_text {
    align-self: center;
    text-align: center;
}

.section_text p {
    font-weight: 600;
}

.section_text_p1 {
    text-align: center;
    font-size: 2rem;

}

.section_text_p2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.title {
    text-align: center;
    font-size: 4rem;
}




#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}





/* ICON*/

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}


.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}


.btn-color-2:hover {
    cursor: pointer;
}



.btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}



.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: rgb(255, 255, 255);
}

.btn-container {
    gap: 1rem;
}

/* ABOUT SECTION */

#about {
    position: relative;
}

.fade-in {
    -webkit-animation-name: fadeInOpacity;
    animation-name: fadeInOpacity;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-duration: 2s;
    animation-duration: 1s;
}


@-webkit-keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}




.about-container {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;

}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}



.about-container,
.about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;

}

.details-container {
    padding: 4rem;
    flex: 1;

    border-radius: 1rem;

    text-align: center;
}

.text-container {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    font-family: "Briem Hand";
    font-optical-sizing: auto;

}

.section-container {
    gap: 5rem;
    height: 80%;
}

.section_pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}


.skills {
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
}

.skills-col1 {
    flex-basis: 25%;
    background: #ec6206;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    margin: auto;


}

.skills-col2 {
    flex-basis: 25%;
    background: #55a7dd;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    margin: auto;



}

.skills-col3 {
    flex-basis: 25%;
    background: #fdf902;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    margin: auto;


}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.skills-col1:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.87);
    transform: translateY(-10px);

}

.skills-col2:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.87);
    transform: translateY(-10px);
}

.skills-col3:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.87);
    transform: translateY(-10px);
}

/* my work section */

.works {
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
}

.works-col1 {
    flex-basis: 30%;
    background: #d46be2;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    margin-right: 15px;



}

.works-col2 {
    flex-basis: 30%;
    background: #7da0e2;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    margin-right: 15px;





}

.works-col3 {
    flex-basis: 30%;
    background: #e97575;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    margin-right: 15px;


}

.w1 {
    color: #000000;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin:  10px 0;
    font-size: 25px;
}

h3:hover{
    color: #ffffff;
}

.works-col1:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.986);
    transform: translateY(-10px);

}

.works-col2:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.87);
    transform: translateY(-10px);
}

.works-col3:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.87);
    transform: translateY(-10px);
}

/*section contact */

.contacts {


    text-align: center;
}

.container {

    margin: auto;
}

.container h2 {
    font-size: 70px;
    margin-bottom: 40px;
    color: #333;
}

.contact-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.contact-form {
    text-align: left;
}

.contact-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f8f9fa;
    color: #333;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 8px #bbb;
}

button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #418ed6;
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s ease;
}

button:hover {
    background-color: rgb(30, 74, 156);
}



.contact-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}


.contact-info p {
    margin-bottom: 10px;
    color: #333;
    font-size: 20px;
    font-weight: 600;

}


/* footer section */


footer {
    position: relative;
    width: 100%;
    background: #000000;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon,
footer .menu ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    color: #ffffff;
}

footer .social_icon li,
footer .menu ul li {
    list-style: none;

}

footer .social_icon li a {


    margin: 0 10px;
    padding: 3px;
    display: inline-block;
    transition: 0.5s;
    border: white solid 1px;
    background-color: #c8dbec;
    margin-top: 20px;
    border-radius: 50%;

}

footer .social_icon li a:hover {
    color: grey;
    transform: translateY(-10px);
}

footer .menu ul li a {
    font-size: 1.5em;
    margin: 0 25px;
    display: inline-block;
    color: #ffffff;
    margin-top: 20px;


}

footer p {
    font-size: 1.5em;
    color: #418ed6;
}

.bottom {
    margin-top: 20px;
    bottom: 30px;
    font-size: 1em;
    color: red;
}